.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Pit button {
  background-color: green;
  color: white;
  font: inherit;
  boarder: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}
.Pit button:hover {
  background-color: lightgreen;
  color: black;
}

.Pit button.Red {
  background-color: red;
}

.Pit button.Red:hover {
  background-color: salmon;
}
